<a href="https://colab.research.google.com/github/bhagavanthai724/Python_Fundamentals/blob/main/6_Python_tuples_sets_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Remove and return an arbitrary element from a set using pop().
fruits = {"apple", "banana", "cherry", "mango"}
item = fruits.pop()
print("Removed:", item)
print("Updated set:", fruits)

In [ ]:
# Create a tuple with 5 elements and print it.
tup = (1,2,3,4,5)
print(tup)

In [ ]:
# Access the first and last element of a tuple using indexing.
tup = (1,2,3,4,5)
print(tup[0],tup[-1],sep = ",")

In [ ]:
# Use negative indexing to access the last two elements of a tuple.
tup = (1,2,3,4,5)
print(tup[-2::])

In [ ]:
# Slice a tuple to get elements from index 1 to 4.
tup = (1,2,3,4,5)
print(tup[1 : 4])

In [ ]:
# Concatenate two tuples and print the result.
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,0)
tup = tup1 + tup2
print(tup)

In [ ]:
# Repeat a tuple 3 times using multiplication.
tup = (1,2,3,4,5)
print(tup*3)

In [ ]:
# Check if an element exists in a tuple using the 'in' operator.
n = int(input("Enter the number  : "))
lst = (1,2,3,4,5)
for i in range(len(lst) + 1):
  if n in lst:
    print("Element exists in tuple")
    break
  else:
    print("Element not exists  in tuple")
    break

In [ ]:
# Unpack a tuple into separate variables.
tup = (1,2,3,4,5)
for i in tup:
  print(i)

In [ ]:
# Swap two tuples using tuple unpacking.
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,0)
tup1 , tup2 = tup2 , tup1
print(tup1)
print(tup2)

In [ ]:
# Find the length of a tuple using len().
tup = (1,2,3,4,5)
print(len(tup))

In [ ]:
# Convert a list to a tuple using tuple().
lst = [1,2,3,4,5]
tup = tuple(lst)
print(tup)

In [ ]:
# Count the occurrences of a specific element in a tuple using count().
tup  = (1,2,2,3,4,5,5)
count = tup.count(4)
print(count)

In [ ]:
# Find the index of an element in a tuple using index().
tup  = (1,2,2,3,4,5,5)
ind = tup.index(4)
print(ind)

In [ ]:
# Convert a tuple to a list using list().
tup = (1,2,3,4,5)
print(list(tup))

In [ ]:
# Create a nested tuple and access an element from the inner tuple.
tup = ((1,2,3),(4,5,6),(7,8,9))
for i in tup:
  for j in i:
    print(j)

In [ ]:
# Create a set of 5 numbers and print it.
sets = {1,2,3,4,5}
print(sets)

In [ ]:
# Add a single element to a set using add().
sets = {1,2,3,4,5}
sets.add(6)
print(sets)

In [ ]:
# Add multiple elements to a set using update().
sets = {1,2,3,4,5}
sets.update([6,7,8,9,0])
print(sets)

In [ ]:
# Remove an element from a set using remove().
sets = {1,2,3,4,5}
sets.remove(2)
print(sets)

In [ ]:
# Remove an element from a set using discard().
sets = {1,2,3,4,5}
sets.discard(3)
print(sets)

In [ ]:
# Find the union of two sets using union().
set_a = {1,2,3,4,5}
set_b = {1,3,5,7,9}
sets = set_a.union(set_b)
print(sets)

In [ ]:
# Find the intersection of two sets using intersection().
set_a = {1,2,3,4,5}
set_b = {1,3,5,7,9}
sets = set_a.intersection(set_b)
print(sets)

In [ ]:
# Find the difference between two sets using difference().
set_a = {1,2,3,4,5}
set_b = {1,3,5,7,9}
sets = set_a.difference(set_b)
print(sets)

In [ ]:
# Check if a set is a subset of another set.
set_a = {1, 2, 3, 4, 5}
set_b = {1, 3, 5}
if set_b.issubset(set_a):
    print(f"{set_b} is a subset of {set_a}")
else:
    print(f"{set_b} is not a subset of {set_a}")

In [ ]:
# Iterate over a set and print all elements.
set_a = {1, 2, 3, 4, 5}
for i in set_a:
  print(i)

In [ ]:
# Convert a list with duplicate elements into a set to remove duplicates.
lst = [1,2,3,2,4,5]
sets = set(lst)
print(sets)

In [ ]:
# Create a set comprehension to get squares of numbers from 1 to 10.
sets = {1,2,3,4,5,6,7,8,9,10}
new_set = {x**2 for x in sets}
print(sorted(new_set))

In [ ]:
# Find the symmetric difference between two sets.
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
result = A.symmetric_difference(B)
print(result)

In [ ]:
# Check if a set is a superset of another set.
A = {1, 2, 3, 4, 5}
B = {2, 3}
print(A.issuperset(B))